<div class="wrapper-head">
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nesciunt!</h3>
  <button (click)='openFullPage()'>full page</button>
  <button (click)='close()'>关闭页面</button>
</div>
<div class="wrapper">
  <p>
    page-touch-c works!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, odit.
    Atque delectus facilis minima dignissimos natus distinctio rem ab quod!
    Nisi facilis sint dolore aliquam eos enim repellendus temporibus at?
    Dolores placeat omnis molestiae maiores dolor voluptatum rerum animi aspernatur.
    Laudantium quaerat fugit officiis praesentium, tempore exercitationem ipsam esse nulla.
    Iure nostrum voluptatem nulla esse velit aperiam accusantium quo optio.
    Vero impedit cupiditate voluptatibus? Adipisci sit dolorum qui quas debitis?
    Quod fugiat explicabo repellat fuga quisquam, eaque maxime esse architecto.
    Inventore quae voluptate tempore consequuntur nobis beatae consequatur quia alias!
    Porro quidem pariatur numquam facilis doloribus reiciendis. Eum, ea consectetur.
  </p>
  <hr>
  <p>
    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, quae!</span>
    <span>Facere ex totam eaque, aliquid consequuntur delectus debitis. Iusto, necessitatibus!</span>
    <span>Nam, rerum ea! Dicta, soluta velit doloribus minima quibusdam quia!</span>
    <span>Assumenda magnam enim earum quos quod tenetur iste provident sed!</span>
    <span>Sed culpa eligendi obcaecati vero totam quas perspiciatis eos consequatur!</span>
    <span>Sint fuga voluptates eligendi beatae minima fugiat consectetur earum perspiciatis.</span>
    <span>Deleniti tempore quibusdam eligendi nulla veniam quis possimus illum ratione.</span>
    <span>In corrupti alias reiciendis! Ab vitae minima blanditiis maiores placeat!</span>
    <span>Ut blanditiis accusantium optio harum id. Alias temporibus minima magnam?</span>
    <span>Aliquid beatae maiores explicabo quam. Exercitationem sapiente corporis at nam?</span>
  </p>
  <p>
    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, quae!</span>
    <span>Facere ex totam eaque, aliquid consequuntur delectus debitis. Iusto, necessitatibus!</span>
    <span>Nam, rerum ea! Dicta, soluta velit doloribus minima quibusdam quia!</span>
    <span>Assumenda magnam enim earum quos quod tenetur iste provident sed!</span>
    <span>Sed culpa eligendi obcaecati vero totam quas perspiciatis eos consequatur!</span>
    <span>Sint fuga voluptates eligendi beatae minima fugiat consectetur earum perspiciatis.</span>
    <span>Deleniti tempore quibusdam eligendi nulla veniam quis possimus illum ratione.</span>
    <span>In corrupti alias reiciendis! Ab vitae minima blanditiis maiores placeat!</span>
    <span>Ut blanditiis accusantium optio harum id. Alias temporibus minima magnam?</span>
    <span>Aliquid beatae maiores explicabo quam. Exercitationem sapiente corporis at nam?</span>
  </p>
</div>