/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    user-select: none;
}
body{
    widows: 100vw;
    height:100vh;
    overflow: hidden;
}