:host {
  background-color: aquamarine;
}
:host-context(.page-wrapper){
  overflow-y: auto;
}
.photo-album-container{
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: hidden;
}

.header{
  width:100%;
  position: fixed;
  top:0px;
  z-index: 99;
}


.footer {
  position: fixed;
  bottom:0px;
  width:100%;
  display: block;
  flex-direction: row;
  /* border-top:1px solid #ccc; */
  background-color: white;
  z-index: 99;
}

@media(orientation:landscape){
  .footer{
    display: none;
  }
}

.main{
  position: relative;
  bottom:0px;
  box-sizing: border-box;
  /* border:1px solid black; */
  width:100%;
  height:100%;
}

.main>div{
  width:100%;
  height:100%;
}

@media (-webkit-min-device-pixel-ratio:2){
    .footer{
        border-top:0.5px solid #ccc;
    }
}

@media (-webkit-min-device-pixel-ratio:3){
    .footer{
        border-top:0.333333333333333333333px solid #ccc;
    }
}

.footer-icon-wrapper{
  width:25%;
  height:20vw;
  display: inline-block;
  text-align: center;
  font-size: 0.6em;
}

.footer-icon-bottom-wrapper{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom{
  width:80%;
  height:80%;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon-wrapper img{
  width:8vw;
  height:8vw;
}

.header{
  overflow-x: hidden;
}

.header-search{
  width:100%;
}



@media (-webkit-min-device-pixel-ratio:2){
  .header-search{
      border-bottom:0.5px solid #ccc;
  }
}

@media (-webkit-min-device-pixel-ratio:3){
  .footer{
      border-bottom:0.333333333333333333333px solid #ccc;
  }
}

.header-search h3{
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s;
  overflow: hidden;
  height:24px;
  margin-top:10px;
  opacity: 1;
}

.header-search h3[class='searchFocused']{
  height:0px;
  opacity: 0;
}

.search-input{
  width:100vw;
  height:14vw;
  padding: 2vw 5vw;
  box-sizing: border-box;
  word-break: keep-all;
  transition: all 0.3s;
}
.header-search div[class*='searchFocused']{
  width:90vw;
}
.search-input-wrapper{
  display: inline-block;
  height:80%;
  vertical-align:middle;
  border-radius: 10px;
  background-color: rgb(231,231,233);
  width:100%;
}

.search-input-flex{
  width:100%;
  height:100%;
  display: flex;
}

.search-icon-wrapper{
  height:8vw;
  width:10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input img{
  height:60%;
}

.close-icon{
  height:18px;
  width:18px;
  border-radius: 9px;
  background-color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* transition:all 0.5s; */
}

/* .close-icon:hover{
  background-color: #aaa;
} */

.close-icon::after{
  content:'+';
  transform: rotate(45deg);
  color:white;
  vertical-align: middle;
  font-size: 0.8em;
}

.search-input-box-wrapper{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-box{
  border:none;
  height:60%;
  width:100%;
  background-color: rgb(231,231,233);
  box-sizing: border-box;
  padding:0 2px;
}
.search-input-box:focus{
  outline: none;
}

.cancel-btn{
  position: relative;
  float: right;
  color:blue;
  left:10px;
  overflow:visible;
  width:0px;
  height:80%;
}

.cancel-btn>span{
  position: relative;
  top:3px;
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  transition: all 0.3s;
}

.cancel-btn>span[class='searchFocused']{
  opacity: 1;
}




.page-advice-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-search .advice{
  
  text-align: center;
}



.photos-containers{
  width:100%;
  height:calc(100% - 127px);
  position: relative;
  overflow:visible;
}
.photos-containers>div{
  display: inline-block;
  position: absolute;
}
.photos-container-old, .photos-container-new{
  width:100%;
  height:inherit;
}
.photos-container-old{
  z-index: 99;
}
.photo-transform{
  
}

.photos-all{
  width:100%;
  height:calc(100% - 127px);
}

.photos-all>div{
  box-sizing: border-box;
  width:20%;
  height:20vw;
  display: inline-block;
  padding:2px;
}

.photos-container-old-scroll{
  position: absolute;
  width: 3px;
  height:inherit;
  display: inline-block;
  top:0px;
  left:calc(100% - 10px);
  z-index:999;
}