.ug-rotation{
    width:100%;
    height: 100%;
    display: inline-block;
    position: relative;
    margin:0 auto;
    overflow-x: scroll;
    overflow-y: auto;
}

.ug-rotation-wrapper{
    height:100%;
    width:500%;
    display: inline-block;
    position: relative;
}

.ug-rotation-wrapper>div{
    height:100%;
    width:20%;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}