<div class="ug-rotation">
  
  <div class="ug-rotation-wrapper">
    <div class="ug-rotation-content">
      <ng-content select=".image-1"></ng-content>
    </div><div class="ug-rotation-content">
      <ng-content select=".image-2"></ng-content>
    </div><div class="ug-rotation-content">
      <ng-content select=".image-3"></ng-content>
    </div><div class="ug-rotation-content">
      <ng-content select=".image-4"></ng-content>
    </div><div class="ug-rotation-content">
      <ng-content select=".image-5"></ng-content>
    </div>
  </div>
  <div class="ug-rotation-tips">

  </div>
</div>