<h3>单页滚屏测试</h3>
<button (click)='close()'>关闭页面</button>
<ul>
  <li>
    <div>Lorem ipsum dolor sit amet.</div>
    <div>Dolorem natus nisi debitis doloribus.</div>
    <div>Pariatur animi ex voluptates est?</div>
    <div>Ipsam explicabo culpa beatae tempore!</div>
    <div>Aliquam sit maiores eaque soluta.</div>
    <div>Non aperiam minus temporibus sed.</div>
    <div>Impedit facilis quam provident tempora?</div>
    <div>Non architecto explicabo blanditiis maiores!</div>
    <div>Nisi porro unde suscipit architecto.</div>
    <div>Ea harum veniam ipsam temporibus.</div>
    <div>Unde dolore atque quae quos.</div>
    <div>Qui quidem mollitia ipsam explicabo?</div>
    <div>Ipsa quaerat sapiente ipsam vero.</div>
    <div>Labore nesciunt soluta nulla tenetur.</div>
    <div>Iusto sunt ut rem labore?</div>
    <div>Qui itaque magnam eveniet sapiente.</div>
    <div>Cum temporibus fuga quod debitis.</div>
    <div>Incidunt quia rem provident voluptate?</div>
    <div>Unde facere provident repellat reprehenderit?</div>
    <div>Voluptas enim placeat exercitationem asperiores.</div>
    <div>Quo quibusdam veniam rem sequi?</div>
    <div>Temporibus nobis ratione consequatur obcaecati.</div>
    <div>Tempore minima aperiam modi amet?</div>
    <div>Voluptates, cupiditate commodi. Ullam, repudiandae!</div>
    <div>Minima ipsum commodi culpa omnis?</div>
    <div>Praesentium beatae magni eaque consequatur.</div>
    <div>Molestias autem sed eum? Asperiores.</div>
    <div>Debitis dolorum a at sit!</div>
    <div>Facilis amet nam culpa dicta.</div>
    <div>Cumque voluptates dolorem adipisci ea!</div>
    <div>Blanditiis laborum iste maxime aspernatur?</div>
    <div>Ducimus repudiandae repellat temporibus cum.</div>
    <div>Sint libero nostrum tempore voluptas!</div>
    <div>Officia earum aliquid tempora corporis?</div>
    <div>Sed tempora delectus odio? Quae.</div>
    <div>In earum minus maxime soluta?</div>
    <div>Unde aperiam voluptas nostrum amet?</div>
    <div>Aliquam aliquid dolore sit perspiciatis!</div>
    <div>Facilis sit fuga rem error!</div>
    <div>Laboriosam molestiae tenetur nam quaerat.</div>
    <div>Accusantium cum odit vel nisi!</div>
    <div>Quasi fugit explicabo assumenda officia.</div>
    <div>Odit doloribus velit sequi consequuntur?</div>
    <div>Rerum autem sint non quasi?</div>
    <div>Nobis dolorem nam ipsam iusto.</div>
    <div>Assumenda sit magni odit tempora.</div>
    <div>Aperiam eos rem sapiente similique!</div>
    <div>Delectus consequatur tempora debitis repellendus.</div>
    <div>Fugiat, omnis. Adipisci, dolore repudiandae!</div>
    <div>Deserunt ipsam quod iusto nobis?</div>
    <div>Ipsa error sit natus placeat.</div>
    <div>Commodi eligendi eos aliquid beatae?</div>
    <div>Ducimus nobis consequuntur reiciendis eos!</div>
    <div>Culpa eaque nesciunt perferendis! Suscipit!</div>
    <div>Obcaecati doloribus quae officiis odio.</div>
    <div>Esse optio odit ipsum delectus.</div>
    <div>Sint aspernatur et quibusdam assumenda.</div>
    <div>Illo consectetur modi soluta ipsum.</div>
    <div>Eum quaerat quam sed commodi!</div>
    <div>Eum cupiditate officiis facere nemo.</div>
    <div>Dolorum unde impedit dolores voluptate.</div>
    <div>Omnis, laborum. Ex, reiciendis possimus?</div>
    <div>Odio quam expedita eum ullam!</div>
    <div>Fuga quas molestias inventore maiores.</div>
    <div>Deserunt distinctio illo numquam error!</div>
    <div>Nostrum autem ducimus nesciunt tenetur.</div>
    <div>Unde tenetur animi deleniti illo!</div>
    <div>Aperiam officiis pariatur ipsum reprehenderit?</div>
    <div>Laborum aliquam quae veniam nemo?</div>
    <div>Nobis provident distinctio asperiores praesentium?</div>
    <div>Possimus quisquam vel reiciendis beatae.</div>
    <div>Facilis fugit dolorem itaque dolor.</div>
    <div>Dignissimos minima ipsum voluptatibus possimus.</div>
    <div>Alias fugiat odit quaerat sunt.</div>
    <div>Cupiditate, natus voluptatem. Iste, beatae.</div>
    <div>Unde eaque neque voluptatem minus!</div>
    <div>Repudiandae fuga placeat officia voluptates.</div>
    <div>Dolor quaerat ratione vero? Maiores.</div>
    <div>Eum deleniti omnis veniam illo?</div>
    <div>Soluta blanditiis quo cumque autem!</div>
    <div>Deleniti cupiditate dicta libero in?</div>
    <div>Fugit nobis dolore recusandae laboriosam.</div>
    <div>Iste perferendis eos modi voluptatibus!</div>
    <div>Non earum cupiditate commodi recusandae.</div>
    <div>Nihil odit nemo quae voluptatum?</div>
    <div>Praesentium porro quisquam cum dolores.</div>
    <div>Quam animi molestiae accusantium sed!</div>
    <div>Molestias voluptatum ipsum eos unde.</div>
    <div>Voluptate quae et magni eveniet?</div>
    <div>Totam quaerat quae quidem. Quo.</div>
    <div>Odit eius delectus sed qui.</div>
    <div>Amet tempora vel nulla similique.</div>
    <div>At dignissimos vero delectus itaque?</div>
    <div>Atque culpa consequatur nulla at.</div>
    <div>Distinctio officia earum minus alias.</div>
    <div>Distinctio rem cumque vitae quos?</div>
    <div>Dolor deserunt fugit iste! Numquam.</div>
    <div>Nulla assumenda rem soluta at!</div>
    <div>Aut labore similique illum! Fugit.</div>
    <div>Aliquid, inventore. Dolorem, ex id.</div>
  </li>
</ul>
