
.rotation-container{
  width:100vw;
  height:100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotation-object{
  width:80vw;
  height:80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotation-object div{
  width:5px;
  height:80%;
  border:1px solid black;
}