.a2-container {
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
}

.a2-content {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.a2-height {
  background-color: blue;
}

.touchArea{
    width: 100%;
    height:200px;
}
