.touch-container {
  width: 90%;
  height: 80%;
  margin:10px auto;
  border:1px solid black;
}
.touch-block{
    width:50px;
    height:50px;
    border-radius: 25px;
    background-color: rebeccapurple;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
    margin:10px;
}

.touch-block>span{
    display: block;
    text-align: center;
    margin:0 auto;
}

.rotation-test{
  width:calc(100%);
  height:100px;
  border-top:1px solid black;
  border-bottom:1px solid black;
  display: block;
  margin:10px auto;
  background-color: seagreen;
}

.rt-test{
  width:90%;
  height: 80%;
  display: block;
  background-color: darkgreen;
  margin:0 auto;
}