<h4>主页</h4>


<button (click)="pageStart(1)">打开page with pages页面</button>
<button (click)="pageStart(2)">打开ali index页面</button>
<hr>
<button (click)="pageStart(3)">打开ObservableTest页面</button>
<hr>
<button (click)="pageStart(4)">打开Animations页面</button>
<button (click)="pageStart(5)">打开Animations2页面</button>
<hr>
<button (click)="pageStart(0)">打开touch test页面</button>
<button (click)="pageStart(6)">打开Page Touch A页面</button>
<button (click)="pageStart(7)">打开Page Touch B页面</button>
<button (click)="pageStart(8)">打开Page Touch C页面</button>
<button (click)="pageStart(9)">打开Page Touch D页面</button>
<button (click)="pageStart(10)">打开Page Touch E页面</button>
<button (click)="pageStart(11)">打开Page Touch F页面</button>
<button (click)="pageStart(14)">打开Page Touch G页面</button>

<hr>
<button (click)="pageStart(12)">打开Photo Album页面</button>
<hr>
<button (click)="pageStart(13)">打开InputViewPort页面</button>

<div class="px">
  <div class="height">高度:{{height}}</div>
  <div class="width">宽度:{{width}}</div>
</div>
