.touch-area {
  width: 100%;
  height: 400px;
  background-color: burlywood;
}

.msg-out {
  width: 100%;
  height: 300px;
  background-color: cornsilk;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.msg-out>div:nth-child(2n) {
  background-color: #ccc;
}

.msg-out>div:nth-child(2n + 1) {
  background-color: #fff;
}

