<div class="content-area">
  <div class="header">
    顶部内容
  </div>
  <div class="content">
    <div class="top-btns">
      <div class="top-btn">
        <div class="top-icon-wrapper">
          <img [src]="imgScan" alt="" class="top-icon" />
        </div>

        <span class="top-text">扫一扫</span>
      </div>
      <div class="top-btn">
        <div class="top-icon-wrapper">
          <img [src]="imgBar" alt="" class="top-icon" />
        </div>
        <span class="top-text">付钱</span>
      </div>
      <div class="top-btn">
        <div class="top-icon-wrapper">
          <img [src]="imgPay" alt="" class="top-icon" />
        </div>
        <span class="top-text">收钱</span>
      </div>
      <div class="top-btn">
        <div class="top-icon-wrapper">
          <img [src]="imgCard" alt="" class="top-icon" />
        </div>
        <span class="top-text">卡包</span>
      </div>
    </div>

    <div class="middle-btns">
      <div class="middle-btns-row1">
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">转账</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">信用卡还款</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">充值中心</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">余额宝</span>
        </div>
      </div>

      <div class="middle-btns-row2">
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">转账</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">信用卡还款</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">充值中心</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">余额宝</span>
        </div>
      </div>

      <div class="middle-btns-row3">
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">转账</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">信用卡还款</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">充值中心</span>
        </div>
        <div class="middle-btn">
          <div class="middle-icon-wrapper">
            <img [src]="iconTransfer" alt="" class="middle-icon" />
          </div>
          <span class="middle-text">余额宝</span>
        </div>
      </div>
    </div>

    <div class="main-content" (scroll)='onScrolling($event)'>
      <div class="loose-to-update" [style.height.px]="looseHeight">
        <div class="loose-text">
          松开刷新
        </div>
  
        <div class="loose-animation">
          动画
        </div>
      </div>
  
      <div class="msgs block">
        <h6>消息</h6>
      </div>
  
      <div class="middle-rotation block">
        <h6>广告</h6>
      </div>
  
      <div class="anti-virus block">
        <h6>抗击新冠肺炎</h6>
      </div>
  
      <div class="hui-pay block">
        <h6>惠支付</h6>
      </div>
  
      <div class="flash-sale block">
        <h6>每日必抢</h6>
      </div>
  
      <div class="bottom-line block">
        <span class="bottom-line-line"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
        ><span>我是有底线的</span
        ><span class="bottom-line-line"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
        >
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-btn">
      <img [src]="" alt="" class="footer-icon" />
      <span class="footer-text">首页</span>
    </div>
    <div class="footer-btn">
      <img [src]="" alt="" class="footer-icon" />
      <span class="footer-text">财富</span>
    </div>
    <div class="footer-btn">
      <img [src]="" alt="" class="footer-icon" />
      <span class="footer-text">口碑</span>
    </div>
    <div class="footer-btn">
      <img [src]="" alt="" class="footer-icon" />
      <span class="footer-text">朋友</span>
    </div>
    <div class="footer-btn">
      <img [src]="" alt="" class="footer-icon" />
      <span class="footer-text">我的</span>
    </div>
  </div>
</div>
