.touch-area {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: black;
  position: relative;
}

.touch-area-inside {
  display: inline-block;
  width: 50%;
  height: 200px;
  background-color: red;
  position: relative;
  margin: 0 auto;
}

.touch-area-drag{
  display: inline-block;
  width:50%;
  height:50%;
  /* margin:0 auto; */
  position: relative;
}
